<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>

  <body class="container">
    <%- include("../partials/header", {page: "Sobre Mim"}); %>

    <main class="p-5 mb-4 .bg-light rounded-3">
      <h1 class="display-4">Sobre mim</h1>
      <figure>
        <blockquote class="blockquote">
          <p class="lead">Oi, eu sou o <strong>Amarilio de Oliveira</strong>!</p>
        </blockquote>
        <figcaption class="blockquote-footer container w-50 float-start mt-1">
          <q class="text-start">
            Apaixonado por criar experiências interativas e envolventes para
            usuários, transformando designs complexos em páginas web funcionais
            e acessíveis.
          </q>
        </figcaption>
      </figure>
    </main>

    <%- include("../partials/footer"); %>
  </body>
</html>
